.wy-nav-content {
    padding: 1.5em 3em;
    max-width: 860px;
}

h1 {
  color: #00aaef
}

blockquote {
	background: #f7f7f7;
	border-left: 4px solid #dddddd;
	padding: 0 15px;
	color: #777777; }
	blockquote > :first-child {
	margin-top: 0; }
	blockquote > :last-child {
	margin-bottom: 0;
}
