.inline-image
{
	display: inline-block;
}

/**
 *	Synonym for h2, but without getting registered in the TOC
 */
.size2 {
    font-size: 32px;
    font-weight: bold;
}

.sub-header {
  color:#2980B9;
  padding-bottom: 8px;
  font-size: 1.3rem;
}

img {
  padding-top: 4px;
  padding-bottom: 16px;
  width: auto;
}

.video-link-missing
{
	/**
	 *	@todo re-enable video links when they exist
	 */
	display: none;
	background: #f7f7f7;
	color: #333;
	border: none;
	padding: 12px;
	margin-bottom: 24px;
	line-height: 24px;
	border-left: 6px solid #00aaef;
	box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

.video-link
{
	background: #f7f7f7;
	color: #333;
	border: none;
	padding: 12px;
	margin-bottom: 24px;
	line-height: 24px;
	border-left: 6px solid #00aaef;
	box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}
