com.unity.probuilder/docs~/site
com.unity.probuilder/artifacts/**
com.unity.probuilder/build/**
com.unity.probuilder/Documentation/ApiDocs/**
*.DS_Store
com.unity.probuilder/.npmrc
com.unity.probuilder/*.sublime-workspace*

TestProjects/*/Library*
TestProjects/*/Temp*
TestProjects/*/obj*
TestProjects/*/.idea
TestProjects/*/*.csproj
TestProjects/*/*.sln.DotSettings.user
TestProjects/*/*.sln
TestProjects/*/Assets/Debug
TestProjects/*/Assets/Debug.meta
TestProjects/*/Assets/ProBuilder\ Data
TestProjects/*/Assets/ProBuilder\ Data.meta
