.inline-image
{
	display: inline-block;
}

.sub-header {
  color:#2980B9;
  padding-bottom: 8px;
  font-size: 1.3rem;
}

img {
  padding-top: 4px;
  padding-bottom: 16px;
}

.video-link
{
	background: #f7f7f7;
	color: #333;
	border: none;
	padding: 12px;
	margin-bottom: 24px;
	line-height: 24px;
	border-left: 6px solid #00aaef;
	box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}
