
ToolbarMenuItem .unity-label {
    color: rgba(209, 209, 209, 255)
}

ToolbarMenuItem .unity-label:hover {
    color: rgba(179, 179, 179, 255);
}

ToolbarMenuItem .unity-label:active {
    color: rgba(127, 127, 127, 255);
}

.unity-image #LegacyIcon {
    width:48px;
    flex-grow: 1;
    align-self: center;
}
