
ToolbarMenuItem .unity-label:hover {
    color: rgba(60, 60, 60, 255);
}

ToolbarMenuItem .unity-label:active {
    color: rgba(40, 40, 40, 255);
}

.unity-image #LegacyIcon {
    width:48px;
    flex-grow: 1;
    align-self: center;
}
