
ToolbarMenuItem .unity-label {
    color: rgba(209, 209, 209, 255)
}

ToolbarMenuItem:hover .unity-label {
    color: rgba(179, 179, 179, 255);
}

ToolbarMenuItem:active .unity-label {
    color: rgba(127, 127, 127, 255);
}
