.slider-and-input-field
{
    flex-direction: row;
    width: 320px;
}

.slider-and-input-field .unity-base-slider
{
    width: 320px;
}

.slider-and-input-field .unity-base-text-field
{
    width: 40px;
}
