# Quality Report

Test strategy & current info for ProBuilder.

- QA Owner: [gabrielw](gabrielw@unity3d.com)
- UX Owner: [gabrielw](gabrielw@unity3d.com), [karlh](karlh@unity3d.com)

## Package Status

| | |
|--|--|
|Test Rail | [ProBuilder TestRail](https://qatestrail.hq.unity3d.com/index.php?/suites/view/1335&group_by=cases:section_id&group_order=asc) |
| QA Test Results | [Latest TestRail Result - 3.0.9](https://qatestrail.hq.unity3d.com/index.php?/runs/view/5833&group_by=cases:section_id&group_order=asc) |
| Known Bugs | [Favro - World Building Collection](https://favro.com/organization/c564ede4ed3337f7b17986b6/5458f34f10ce252532bf6d1e) |
| Planning | [Favro - World Building Collection](https://favro.com/organization/c564ede4ed3337f7b17986b6/5458f34f10ce252532bf6d1e) |

## Test Strategy

**Manual Testing**

1. Run test via TestRails: https://qatestrail.hq.unity3d.com/index.php?/suites/view/1335&group_by=cases:section_id&group_order=asc
2. Update "QA Test Results" link (above) with the new test results, and version number

**Unit Tests**

Unit tests are currently only available in the development branch, [here](https://github.com/procore3d/probuilder2). To run Unit Tests, open the "Window > Test Runner" and run all "probuilder2.0" tests.