# Quality Report

Test strategy & current info for ProBuilder.

- QA Owner: [gabrielw](gabrielw@unity3d.com)
- UX Owner: [gabrielw](gabrielw@unity3d.com), [karlh](karlh@unity3d.com)

## Package Status

| | |
|--|--|
|Test Rail | [ProBuilder TestRail Suite](https://qatestrail.hq.unity3d.com/index.php?/suites/view/1335&group_by=cases:section_id&group_order=asc) |
| QA Test Results | [ProBuilder Test Rail Results](https://qatestrail.hq.unity3d.com/index.php?/suites/runs/1335) |
| Known Bugs | [Favro - World Building Collection](https://favro.com/organization/c564ede4ed3337f7b17986b6/5458f34f10ce252532bf6d1e) |
| Planning | [Favro - World Building Collection](https://favro.com/organization/c564ede4ed3337f7b17986b6/5458f34f10ce252532bf6d1e) |

## Test Strategy

**Manual Testing**

1. Run test via TestRails: [ProBuilder TestRail](https://qatestrail.hq.unity3d.com/index.php?/suites/view/1335&group_by=cases:section_id&group_order=asc)
2. Open the [ProBuilder QA Report Google Drive Folder](https://drive.google.com/drive/u/0/folders/1neI43BrzpTmyHvE5Qe5TN8YVHTOp-5Dd)
3. Duplicate the "QA Report Template" document, and update it with the new info and results
4. If QA passed, submit and request publishing via the [Package Publishing Form](https://docs.google.com/forms/d/e/1FAIpQLSdSIRO6s6_gM-BxXbDtdzIej-Hhk-3n68xSyC2sM8tp7413mw/viewform)

**Unit Tests**

Unit tests are currently only available in the development branch, [here](https://github.com/procore3d/probuilder2). To run Unit Tests, open the "Window > Test Runner" and run all "probuilder2.0" tests.