# Quality Report

Test strategy & current info for ProBuilder.

- QA Owner: [gabrielw](gabrielw@unity3d.com)
- UX Owner: [gabrielw](gabrielw@unity3d.com), [karlh](karlh@unity3d.com)

## Package Status

| | |
|--|--|
|Test Rail | [ProBuilder for Unity 2018.x (Package Manager)](https://qatestrail.hq.unity3d.com/index.php?/suites/view/2498) |
| QA Test Results | [ProBuilder Test Rail Results](https://qatestrail.hq.unity3d.com/index.php?/runs/overview/32) |
| Known Bugs | [Favro - World Building Collection](https://fogbugz.unity3d.com/f/filters/?ixPersonAssignedTo=1667) |
| Planning | [Favro - World Building Collection](https://favro.com/organization/c564ede4ed3337f7b17986b6/5458f34f10ce252532bf6d1e) |

## Test Strategy

**Manual Testing**

1. Run test via TestRails: [ProBuilder for Unity 2018.x (Package Manager)](https://qatestrail.hq.unity3d.com/index.php?/suites/view/2498)
2. If QA passed, submit and request publishing via the [Package Publishing Form](https://docs.google.com/forms/d/e/1FAIpQLSdSIRO6s6_gM-BxXbDtdzIej-Hhk-3n68xSyC2sM8tp7413mw/viewform)

**Unit Tests**

Unit tests are currently only available in the development branch, [here](https://github.com/procore3d/probuilder2). To run Unit Tests, open the "Window > Test Runner" and run all "probuilder2.0" tests.